:root {
  --color-primary: #1d1d1d;
  --color-secondary: #f9f9f9;
  --transition-duration: 2s; /* Used for image fade in */
  --font-base: abchanel-corpo, Arial, Helvetica, sans-serif;
  --font-weight-semibold: 600;
}

.product--container {
  @apply inline-flex flex-col justify-center relative w-full;
  user-drag: none;
  -webkit-user-drag: none;

  & .product--media {
    position: relative;
    padding-top: 116.6015625%;

    &::before {
      background-color: var(--color-secondary);
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    & img {
      z-index: 2;
      transition: opacity var(--transition-duration) ease;
      will-change: transform;
      user-drag: none;
      -webkit-user-drag: none;
    }
  }

  & .is-cropped,
  & .product--link,
  & .product--price {
    cursor: pointer;
    display: block;
    font-family: var(--font-base);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
  }

  & .is-cropped {
    padding: 0;
    margin-top: 1.125rem;
  }

  & .product--link {
    user-drag: none;
    -webkit-user-drag: none;
    &::after {
      content: '';
      pointer-events: none;
      position: absolute;
      inset: 0;
      z-index: 3;
    }
  }

  & .product--price {
    margin-top: 0.3125rem;
    color: var(--color-primary);
  }

  & .product--variant {
    color: #333;
    margin-top: 0.3125rem;
    text-transform: lowercase;
    font-size: 12px;
  }

  /* Icon Group */
  & .btn-group {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: -3.125rem;
    padding: 0.3125rem;
    z-index: var(--z-index-btn-group);

    &.absolute {
      margin-top: calc(116.60156% - 3.125rem);
    }
  }

  & .product__add-to-bag {
    border-bottom: var(--border-width) solid var(--color-primary);
    color: var(--color-primary);
    z-index: var(--z-index-default);

    & .button__wrapper {
      text-align: left;
    }
  }
}

/* Product Group Modifiers */
.product-group__ACC .product--container {
  & .placeholder,
  & .product--media::before {
    padding-top: 116.6015625%;
  }
}

.product-group__RTW .product--container {
  & .placeholder,
  & .product--media::before {
    padding-top: 147.65625%;
  }

  & .btn-group.absolute {
    margin-top: calc(147.65625% - 3.125rem);
  }
}
